
.landing-screen {
  box-sizing: border-box;

  min-height: 100vh;
  width: 100vw;


  background-color: #E59FAC;
  background: var(--gradient);

  padding: 5% 15% 2% 15%;
}

.landing-screen li::marker{
  color: var(--white);
}

.landing-container{
  display: flex;
}

.landing-part{
  width: 50%;
  box-sizing: border-box;
  /* border: 1px red solid; */
}

.landing-left {

}



.landing-footer {
  width: 100%;
  padding-top: 50px;
  /* border: 1px blue solid; */
  clear:both;
}

@keyframes float {
  0% {top: 0px;}
  50% {top: -10px;}
  100% {top: 0px}
}

.landing-footer p {
  text-align: center;
  color: var(--white);
  animation: float 1.5s linear infinite forwards running;
  position: relative

}

.big-logo {
  width: 60%;
  display: block;
  margin: 3% auto;

}

.logo-h1 {
  color: var(--white);
  font-size: 7vw;
  overflow-wrap: break-word;
  text-align: center;
  margin: 3% auto;
}



.landing-right {
  padding: 15% 2%;
  /* border: red 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.internal-container {
  /* border: blue 1px solid; */


}

.links-h1 {
  color: var(--lightpurple);
  font-size: 3vw;
  overflow-wrap: break-word;
  margin: 3% auto;
  text-decoration: none;
}

.links-h1:hover{
  color: var(--white);
  text-decoration: none;
}





@media (max-aspect-ratio: 8/5)
{
  .landing-screen {
    padding: 5% 5% 2% 5%;
  }

  .big-logo {
    width: 80%;
  }


  .links-h1 {
    font-size: 5vw;

  }
}

@media (max-aspect-ratio: 1/1)
{
  .landing-container {
    display: block;
    margin: 10px auto;
  }

  .landing-part {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 2vh;
  }

  .big-logo {
    width: 40%;
  }

  .links-h1 {
    text-align: center;
    font-size: 5vh;

  }

  .logo-h1 {
    font-size: 7vh;
  }

}




.scrollbar {
  display: flex;
  /* border: 1px purple solid; */
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: space-between;

}

.card {
  flex-basis: calc(33.3% - 0.5em);
  min-height: 350px;
  border: 6px var(--pink) solid;
  border-radius: 25px;
  box-sizing: border-box;
  background-color: var(--lightpurple);

  padding: 10px 20px;
}


.scrollbar::-webkit-scrollbar-track {
  background-image: var(--gradient-rainbow-right);
}

.card img{
  display: block;
  width: 160px;
  margin: 0 auto;
  border-radius: 200px;
}

.card h2 {
  margin: 10px 0;
  text-align: center;
  font-size: 30px;
}

.card p {
  font-size: 16px;
}
