@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');
@font-face {
    font-family: mini-wakuwaku;
    src: url("mini-wakuwaku.otf");
}

:root {
  --lightblue: #A9B3CE;
  --darkblue: #4A5982;
  --lightpurple: #E4E1F4;
  --pink: #E59FAC;
  --white: #FFFFFF;
  --black: #09050B;
  --gradient: linear-gradient(70deg, var(--lightblue), var(--pink));
  --gradient-trans: linear-gradient(70deg, #a9b3ce55, #E59FAC55);

  --gradient-rainbow: linear-gradient(to bottom, #ffcaca 0%, #ffedc1 20%, #feffb8 40%, #c4ffcb 60%, #add8ff 80%,  #ccafe9 100%);
  --gradient-rainbow-right: linear-gradient(to right, #ffcaca 0%, #ffedc1 20%, #feffb8 40%, #c4ffcb 60%, #add8ff 80%,  #ccafe9 100%);


}


html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow: overlay;
}


* {
  font-family: 'Amiko', sans-serif;

}

h1, h2, h3 {
  font-family: mini-wakuwaku, sans-serif;
}

h1 {
  font-size: 42px;
  color: var(--pink);
}

h2 {
  color: var(--darkblue);
}

body {
  margin: 0;
  padding: 0;
}

p, ul, li, ol, a {
  font-size: 20px;
  color: var(--black);
}

ul, ol {
  margin-top: 10px;
}

a {
  text-decoration: none;

}

.content a {
  display: inline-block;
  color: inherit;
  position: relative;
  text-decoration: none;
  transition: linear 0.2s;
}

.content a:hover {
  color: var(--darkblue);
}


.content a[target="_blank"]:hover::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

.content a:before {
  background: var(--gradient);
  content: '';
  height: 2px;
  position: absolute;
  bottom: -1.5px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.2s ease-in-out;
}

.content a:hover:before{
  width: 0;
}


li::marker{
  content: "★ ";
}

li:hover::marker {
  content: "☆ ";
}

hr {
  border-width-top: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, var(--darkblue) 25%, var(--darkblue) 75%, rgba(255, 255, 255, 0) 100%) 1;

}

span.nowrap {
  white-space:nowrap;

}


a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

.content {
  box-sizing: border-box;

  padding: 10px;
  height: 100%;
  width: 100%;

  background-color: var(--white);
}


.navbar {
  /* float: left; */
  box-sizing: border-box;
  width: 22%;
  padding: 30px 3%;
  height: 100%;

  position: sticky;
  top: 40px;


  border-width: 0 2px 0 0;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--pink) 25%, var(--pink) 75%, rgba(255, 255, 255, 0) 100%) 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;

}



.navbar a {
  text-align: right;
  font-size: 2.4vw;
  font-family: mini-wakuwaku, sans-serif;
  line-height: 50px;
  color: var(--lightblue);
}

.navbar a:hover{
  color: var(--darkblue);
}

.content {

  box-sizing: border-box;
  width: 78%;
  padding: 10px 40px;


}

.container {
  width: 80%;
  margin: 10px auto;
  clear: both;
  display: flex;
}

.banner {
  width: 100vw;
  padding: 20px 0;
  box-sizing: border-box;
  background-image: var(--gradient);
}

.banner h1, .logo-h1 {

  color: var(--white);
  font-size: 7vw;
  overflow-wrap: break-word;
  text-align: center;
  margin: 10px 0;

}


.footer {
  width: 100vw;
  padding: 30px 0;
  box-sizing: border-box;
  background-image: var(--gradient);
}

.footer p, .footer a {
  font-size: 16px;
  text-align: center;
  color: var(--white);
}

.footer a:hover::after{
  content: none
}


::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;
  margin: 16px 0;
  background-image: var(--gradient-rainbow);
  border: 5px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  border: 2px solid var(--darkblue);
  box-shadow: inset 0 0 6px var(--darkblue);
}


@media (max-aspect-ratio: 8/5)
{

  .container {
    width: 95%;
  }

  .navbar li, .navbar a {
    text-align: center;
    font-size: 2.8vw;
  }


}


@media (max-aspect-ratio: 1/1)
{

  .container {
    display: block;
  }


  .navbar {
    padding: 5px 0;

    box-sizing: border-box;
    width: 100%;

    position: sticky;
    top: 0px;

    border-width: 0 0 2px 0;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, var(--pink) 25%, var(--pink) 75%, rgba(255, 255, 255, 0) 100%) 1;

    background-color: var(--white);

    padding: 0;
    margin: 0;

    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .navbar a {
    font-size: 5vw;
  }

  .content {
    width: 100%;

  }

  a.anchor {
    top: -60px;
  }


  .banner h1, .logo-h1 {
    font-size: 7vh;
  }




}
